<!doctype html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />

    <!-- Core SEO -->
    <meta name="description" content="<%- metaDescription %>" />

    <!-- Open Graph Protocol (Facebook, LinkedIn, Discord) -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- publicSiteAddress %>" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:description" content="<%- metaDescription %>" />
    <meta
      property="og:image"
      content="<%- publicSiteAddress %>/logo-square.png"
    />

    <!-- Twitter / X Cards Optimization -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%- title %>" />
    <meta name="twitter:description" content="<%- metaDescription %>" />
    <meta
      name="twitter:image"
      content="<%- publicSiteAddress %>/logo-square.png"
    />
    <link rel="stylesheet" href="/main.css" />
    <title><%- title %></title>
  </head>
  <body>
    <main id="root">
      <div class="loader-background">
        <div class="loader-message">
          <div class="spinner"></div>
          <div class="loading-text">Loading Feature...</div>
        </div>
      </div>
    </main>
    <script type="module" src="/src/index.ts"></script>
  </body>
</html>
