:root {
  --main-background: white;
  --main-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: black;
    --main-color: white;
  }
}

body {
  background: var(--main-background);
  color: var(--main-color);
}
